.container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    width: 100%;    
}

.input {
    padding: 10px 20px;
    margin-bottom: 10px;
}
