.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  display: none;
}

  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  display: fixed;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
  width: 100px; /* Need a specific value to work */
  height: 100px;

  top: 50%;
  /* transform: translateY(-50%);  */
}

.white_background {
  position: absolute;
  z-index: 1;
  padding:0;
  margin:0;

  padding-top: 40vh;

  top:0;
  left:0;

  width: 100%;
  height: 999vh;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  display: none;
}