.container {

    width: 100%;
    height: 100%;
    padding-left: 30%;
    padding-right: 30%;

    background-color: #e5ddd2;
}

.wrapper {
    margin-top: 20vh;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    text-align: center;

}

.subTitle {
    margin-top: 35px;
    font-size: 20px;
    text-align: center;

}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* .checkbox {
    width: 20px;
    height: 20px;
} */

.labelText {
    font-size: 20px;
    display: inline-block;
}

.form {
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
}

.input {
    width: 100%;
    padding: 7px 15px;
    font-size: 14px;

    background-color: #e5ddd2;

    border-radius: 10px;
    margin-left: 20px;

    margin-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 200px;
    padding: 7px 15px;
    font-size: 14px;
    text-align: center;
    background-color: #e5ddd2;
    border-radius: 10px;
    margin-top: 10px;

    border-style: solid;

    transition: 0.3s;

    cursor: pointer;
}

.button:hover {
    color: white;
}

.coupon {
    width: 500px;
    height: 170px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

    border-style: solid;

    display: flex;
    flex-direction: row;
}

.left {
    width: 35%;
    height: 100%;
}

.right {
    width: 65%;
    height: 100%;
}

.top, .bottom {
    height: 50%;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.bold {
    font-size: 24px;
    font-weight: bold;
}