.wrapper {
    width: 70%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}

.subtitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* max-width: 50%; */
}

.cardTitle {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
}

.cardPrice {
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
}

.formSlider {
    margin-top: 50px;
    text-align: center;
}

.stepQuestion {
    font-size: 20px;
    font-weight: bold;
}

.option {
    width: 200px;
    height: 250px;

    border-style: solid;
    border-color: black;
    border-radius: 10px;

    padding-top: 40px;
    margin-top: 10px;
}

.selectOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 30px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonRow {
    margin-top: 30px;
}

.button {
    padding: 7px 20px;
    background-color: rgb(83, 199, 252);
    color: white;
    font-weight: bold;
    cursor: pointer;

    border-radius: 10px;
}

/* Where the sceren width is less than 400px make the width 250px */
@media screen and (max-width: 400px) {
    .inputRange {
        width: 250px;
    }
}

@media screen and (min-width: 401px) {
    .inputRange {
        width: 400px;
    }
}


.inputRangeText {
    width: 40px;
    text-align: center;
}

.inputRangeTextContainer {
    margin: 0 auto;
    width: 40px;
}

.inputRangeContainer {
    margin-top: 30px;
}