.orders {
    margin-top: 100px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .order {
        border-style: none;
        border-radius: 10px;

        height: fit-content;
    
        padding: 20px 20px;
        margin-bottom: 20px;
    
        background-color: #D1B992;
    }

    .wrapper {
        width: 100%;
        margin-left: 1%;
    
        padding: 10px 10px;
    }

    .tooltiptext {
        display: none;
    }
    
    .orderContentLeft {
        width: 90%;
    }
    
    .orderContentRight {
        margin-top: 30px;
        width: 90%;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .wrapper {
        width: 85%;
        margin-left: 18%;
        padding-top: 10px;
    }

    .order {
        border-style: none;
        border-radius: 10px;
    
        width: 60%;
        min-width: 300px;
        height: 300px;
    
        padding: 20px 20px;
        margin-bottom: 20px;
    
        background-color: #D1B992;
    }

    /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    /* z-index: 2; */
    bottom: 125%;
    /* left: -1%; */
    margin-left: -100px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: 0.3s;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .orderContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .orderContentLeft {
        width: 60%;
    }

    .orderContentRight {
        float: right;
        width: 40%;
    }

}



.orderTitle {
    font-weight: bold;
    font-size: 18px;
}

.orderCategories {
    margin-top: 30px;
}

.productTitle {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: bold;
}

.button {
    /* background-color: rgb(108, 220, 112); */
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(252, 252, 252);

    font-weight: bold;
    text-align: center;

    border-radius: 10px;
    width: 100%;

    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cancelButton {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);

    font-weight: bold;
    text-align: center;

    border-radius: 10px;
    width: 100%;

    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
